<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
  <head>
    <title>dipqib - proven beauty, perfection and balance</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag :defaults  %>
  </head>
  <body>
  

      <div id="header">
      <%= render(:partial => "header") %>
      </div>

      <div id="content">
      <%= render(:partial => "content") %>
      </div>

      <div id="menu">
      <%= render(:partial => "menu") %>
      </div>

      <div id="footer">
      <%= render(:partial => "footer") %>
      </div>

  
  </body>

</html>
